<div class="container">

  <div class="box_form">
    <form (submit)="createBuild()">
      <button type="submit">Crée mon build</button>
      <fieldset>
        <label>Nom  du Build : </label>
        <input [(ngModel)]="nameBuild" name="nameBuild" required>
      </fieldset>

      <fieldset>
        <label>Level du Build (1 - 230): </label>
        <input type="number" maxlength="230" minlength="1" name="levelBuild" [(ngModel)]="levelBuild" required>
      </fieldset>

      <fieldset>
        <label>Coût du Build: </label>
        <select name="classBuild" [(ngModel)]="costBuild" required>
          <option value="low">Bas</option>
          <option value="medium">moyen</option>
          <option value="high">Elevé</option>
        </select>
      </fieldset>

      <fieldset>
        <label>Liste des effets du build : </label>
        <div class="box_effect">
          <div *ngFor="let a of action.arr_actions">
            <input type="checkbox" [value]="a.definition.idActionDefinition" name="selectedEffects" [(ngModel)]="selectedEffect[a.definition.idActionDefinition]">
            {{ a.definition.effect }} ({{ a.definition.idActionDefinition }})
          </div>
        </div>
      </fieldset>
    </form>
  </div>

</div>
