<div class="container">
  <div class="rgpd">
    <h1>RGPD</h1>
    <p>Le RGPD (Règlement Général sur la Protection des Données) est un règlement européen qui est entré en vigueur le 25 mai 2018. Il a pour objectif de renforcer la protection des données personnelles des citoyens européens.</p>
  </div>

  <div class="mentions">
    <h1>Mentions légales</h1>
    <p>Cette application est une application de démonstration. Elle a été réalisée dans le cadre d'un PFE (Projet de fin d'étude) pour le Master 2 informatique spécialité ICC à CY-Tech</p>
  </div>
</div>
